body {
    background-color: wheat;
    text-align: center;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    border: thick ridge darkgoldenrod;
    background-color: maroon;

}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}